# -------------------- FastAPI 서버 --------------------
fastapi==0.111.0
uvicorn[standard]==0.29.0
python-dotenv==1.0.1
python-multipart==0.0.9

# -------------------- DB & Validation --------------------
motor==3.4.0
pymongo==4.5.0
beanie==1.25.0
pydantic==2.7.1
pydantic-settings
email-validator==2.1.1
bcrypt==3.2.2
aiohttp==3.9.5

# -------------------- 모델 연동 호환 패키지 --------------------
torch==2.4.1+cu124
torchvision==0.19.1+cu124
torchaudio==2.4.1+cu124
--extra-index-url https://download.pytorch.org/whl/cu124

transformers==4.40.2
diffusers==0.27.2
huggingface_hub==0.25.2
accelerate==0.29.2
safetensors==0.6.2

# -------------------- 유틸 --------------------
numpy==1.26.4
pillow==10.3.0